.section {
    padding: 100px 0 50px;
}

.section .heading {
    margin-bottom: 60px;
}

.section .heading:before {
    content: "";
    height: 10px;
    width: 50px;
    border-radius: 5px;
    margin-bottom: 20px;
    display: block;
    background: #ffa804;
}

.margin-t-10 {
    margin-top: 10px;
}

.margin-b-30 {
    margin-bottom: 30px;
}
.margin-b-50 {
    margin-bottom: 50px;
}

.margin-tb-30 {
    margin-top: 30px;
    margin-bottom: 30px;
}

.font-yellow {
    color: #ffa600;
}

.font-semi-white {
    color: #ddd;
}

.font-lite-black {
    color: #999;
}
