<section class="portfolio-section section">
    <div class="container">
        <div class="row">
            <div class="col-sm-12">
                <div class="heading">
                    <h3><b>Portfolio</b></h3>
                    <h6 class="font-lite-black"><b>MY WORK</b></h6>
                </div>
            </div>
        </div>
    </div>
    <div class="portfolioContainer">
        <ng-container *ngIf="model.badges && model.badges.length">
            <app-badge *ngFor="let badge of model.badges"
                [id]="badge.id"
                [name]="badge.name"
                [linkUrl]="badge.linkUrl"
                [imageUrl]="badge.imageUrl">
            </app-badge>
        </ng-container>
        <app-loader></app-loader>
        <!-- p-item -->
    </div>
    <!-- portfolioContainer -->
</section>

<router-outlet></router-outlet>
