.portfolio-section {
    padding: 0;
}

.portfolio-section .portfolioFilter {
    margin-top: 60px;
    color: #666;
}

.portfolio-section .portfolioFilter a {
    margin: 10px 10px 0 0;
}

.portfolio-section .portfolioFilter a.current {
    color: #ffa804;
}

.portfolio-section .portfolioContainer {
    position: relative;
    margin-left: -15px;
    margin-right: -15px;
}

.portfolio-section .p-item {
    width: 33.333%;
    padding: 0 7.5px 0px;
    margin-top: 15px;
}

.portfolio-section .p-item a {
    display: inline;
}

.portfolio-section .p-item.p-item-2 .img:first-child {
    float: left;
    width: 50%;
    padding-right: 7.5px;
}

.portfolio-section .p-item.p-item-2 .img:last-child {
    float: right;
    width: 50%;
    padding-left: 7.5px;
}
